<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-spin-clockwise-fade"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<!-- End spinner -->

<!-- Map -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.573023023734!2d105.53297571485412!3d21.009745986008678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345bb9d76a7e03%3A0x244a83c591357341!2zRlBUIFNvZnR3YXJlIEjDsmEgTOG6oWM!5e0!3m2!1svi!2s!4v1653794358337!5m2!1svi!2s"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<!-- End map -->

<!-- Contact Section Begin -->
<section class="contact spad pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="contact__text">
          <div class="section-title">
            <span class="text-danger">INFORMATION</span>
            <h2>Contact Us</h2>
            <p>
              As you might expect of a company that began as a high-end
              interiors contractor, we pay strict attention.
            </p>
          </div>
          <ul class="p-0">
            <li>
              <h4>America</h4>
              <p>
                195 E Parker Square Dr, Parker, CO 801 <br />+43 982-314-0958
              </p>
            </li>
            <li>
              <h4>France</h4>
              <p>109 Avenue Léon, 63 Clermont-Ferrand <br />+12 345-423-9893</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="contact__form">
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Name" />
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="Email" />
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Message" class="form-control"></textarea>
                <button type="submit" class="site-btn btn-dark">
                  Send Message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
