<div class="item_list">
  <div class="card" *ngFor="let prodNewArr of productsNewArrival">
    <span class="like"><i class="fas fa-heart"></i></span>
    <div class="card__img">
      <img [src]="prodNewArr.images" alt="" />
    </div>
    <h5 class="card__title mt-3">
      {{ prodNewArr.title | summary: 30 }}
    </h5>
    <p class="card__price mt-4">
      Price: {{ prodNewArr.variant_price | currency: "USD" }}
    </p>

    <div class="card__action text-center">
      <button class="btn btn-success">Add to cart</button>
    </div>
  </div>
</div>
