h5 {
  cursor: pointer;
}
$heading-color: #111111;

.filter__controls {
  li {
    color: #b7b7b7;
    font-size: 24px;
    font-weight: 700;
    list-style: none;
    display: inline-block;
    margin-right: 88px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: $heading-color;
    }
  }
}


