<div class="container p-5">
  <div class="row justify-content-center mb-4">
    <div class="col-lg-12 text-center">
      <ul class="filter__controls">
        <li
          (click)="changeViewMode('newArrival')"
          class="active"
          [class.active]="viewMode == 'newArrival'"
        >
          New Arrivals
        </li>
        <li
          (click)="changeViewMode('topSeller')"
          [class.active]="viewMode == 'topSeller'"
        >
          Hot Sales
        </li>
      </ul>
    </div>
  </div>
  <div class="row product__filter">
    <app-productnew-arrival
      *ngIf="viewMode === 'newArrival'"
      [productsNewArrival]="productsNewArrival"
    ></app-productnew-arrival>

    <app-product-top-sale
      *ngIf="viewMode === 'topSeller'"
      [productsTopSale]="productsTopSale"
    ></app-product-top-sale>
  </div>
</div>
