<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-spin-clockwise-fade"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>About Us</h4>
          <div class="breadcrumb__links">
            <a routerLink="/home" class="home_link">Home> </a>
            <span class="text-muted">About Us</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- About Section Begin -->
<section class="about spad mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about__pic">
          <img
            src="../../../../assets/images/about-us/about image.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about__item">
          <h4>Who We Are ?</h4>
          <p>
            Contextual advertising programs sometimes have strict policies that
            need to be adhered too. Let’s take Google as an example.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about__item">
          <h4>Who We Do ?</h4>
          <p>
            In this digital generation where information can be easily obtained
            within seconds, business cards still have retained their importance.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="about__item">
          <h4>Why Choose Us</h4>
          <p>
            A two or three storey house is the ideal way to maximise the piece
            of earth on which our home sits, but for older or infirm people.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="testimonial__text">
          <p>
            “Going out after work? Take your butane curling iron with you to the
            office, heat it up, style your hair before you leave the office and
            you won’t have to make a trip back home.”
          </p>
          <div class="testimonial__author">
            <div class="testimonial__author__pic">
              <img
                src="../../../../assets/images/about-us/about_icon.jpg"
                alt=""
              />
            </div>
            <div class="testimonial__author__text">
              <h5>Augusta Schultz</h5>
              <p>Fashion Design</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img
          src="../../../../assets/images/about-us/about us second_image.jpg"
          alt=""
          class="img_testimonial"
        />
      </div>
    </div>
  </div>
</section>
<!-- Testimonial Section End -->

<!-- Counter Section Begin -->
<section class="counter mt-5 spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="counter__item">
          <div class="counter__item__number">
            <h2 class="cn_num">{{ clientCount }}</h2>
          </div>
          <span>Our <br />Clients</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="counter__item">
          <div class="counter__item__number">
            <h2 class="cn_num">{{ totalCategoriesCount }}+</h2>
          </div>
          <span>Total <br />Categories</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="counter__item">
          <div class="counter__item__number">
            <h2 class="cn_num">{{ clientCount }}</h2>
          </div>
          <span>In <br />Country</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="counter__item">
          <div class="counter__item__number">
            <h2 class="cn_num">{{ happyRateCount }}</h2>
            <strong>%</strong>
          </div>
          <span>Happy <br />Customer</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Counter Section End -->

<!-- Team Section Begin -->
<section class="team spad">
  <div class="container pt-5">
    <div class="row mb-3">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <span class="text-danger font-weight-bold">Our Team</span>
          <h2>Meet Our Team</h2>
        </div>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-4">
        <div class="team__item">
          <img src="../../../assets/images/about-us/team-mem-1.jpg" alt="" />
          <h4>Cao Huy Thong</h4>
          <span class="text-center">Fashion Design</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team__item">
          <img src="../../../assets/images/about-us/team-mem-2.jpg" alt="" />
          <h4>Tran Sy Hoang Son</h4>
          <span class="text-center">Manager</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="team__item">
          <img src="../../../assets/images/about-us/team-mem-3.jpg" alt="" />
          <h4>Bui Anh Dung</h4>
          <span class="text-center">C.E.O</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- Client Section Begin -->
<section class="clients spad">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <span class="text-danger font-weight-bold">Partner</span>
          <h2>Happy Clients</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img
            src="../../../../assets/images/about-us/about_company-1.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img
            src="../../../../assets/images/about-us/about_company-2.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img
            src="../../../../assets/images/about-us/about_company-3.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img
            src="../../../../assets/images/about-us/about_company-4.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img
            src="../../../../assets/images/about-us/about_company-5.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img
            src="../../../../assets/images/about-us/about_company-6.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img
            src="../../../../assets/images/about-us/about_company-7.jpg"
            alt=""
        /></a>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-6">
        <a href="#" class="client__item"
          ><img
            src="../../../../assets/images/about-us/about_company-8.jpg"
            alt=""
        /></a>
      </div>
    </div>
  </div>
</section>
<!-- Client Section End -->
