$primary-color: #e53637;
$secondary-color: #0c2b4b;
$white-color: #ffffff;
$heading-color: #111111;
.home_link {
  text-decoration: none;
  color: black;
}

.testimonial {
  background: #f3f2ee;
}

.testimonial__text {
  text-align: center;
  padding: 130px 150px 175px;
  span {
    color: #e53637;
    font-size: 72px;
  }
  p {
    color: $heading-color;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    padding-top: 12px;
    margin-bottom: 25px;
    text-align: center;
  }
}

.testimonial__author {
  display: inline-block;
  text-align: center;
}

.testimonial__author__pic {
  float: left;
  margin-right: 20px;
  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
}

.about__pic {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.testimonial__author__text {
  overflow: hidden;
  padding-top: 3px;
  h5 {
    color: $heading-color;
    font-weight: 700;
    margin-bottom: 5px;
  }
  p {
    color: #b7b7b7;
    margin-bottom: 0 !important;
    padding-top: 0;
  }
}

.img_testimonial {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.counter {
  padding-bottom: 0;
  .container {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 70px;
  }
}

.counter__item {
  margin-bottom: 30px;
  overflow: hidden;
  .counter__item__number {
    float: left;
    margin-right: 15px;
    h2 {
      color: $heading-color;
      font-weight: 700;
      font-size: 60px;
      line-height: 50px;
      display: inline-block;
    }
    strong {
      color: $heading-color;
      font-weight: 700;
      font-size: 60px;
      line-height: 50px;
      display: inline-block;
    }
  }
  span {
    display: block;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    overflow: hidden;
  }
}

.team {
  padding-bottom: 70px;
}

.team__item {
  margin-bottom: 30px;
  img {
    min-width: 100%;
    margin-bottom: 25px;
    width: 80px;
    height: 400px;
    border-radius: 10px;
    border: solid lightgray;
    object-fit: cover;
  }
  h4 {
    color: $heading-color;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center;
  }
  span {
    font-size: 15px;
    display: block;
    color: #b7b7b7;
  }
}

.clients {
  padding-top: 0;
  padding-bottom: 25px;
}

.client__item {
  display: block;
  margin-bottom: 75px;
  text-align: center;
}

@media (max-width: 576px) {
  .testimonial__text {
    padding: 130px 50px 175px;
  }
}
