<div class="item_list">
  <div
    class="card"
    *ngFor="let prodNewArr of productsNewArrival"
    style="cursor: pointer"
  >
    <div class="card__img">
      <img
        [src]="prodNewArr.images"
        alt=""
        [routerLink]="['/shop', prodNewArr.product_id]"
      />
      <div class="icon_list">
        <i
          class="fas fa-heart text-danger"
          (click)="onAddWishList(prodNewArr)"
        ></i>
      </div>
    </div>
    <h5 class="card__title mt-3">
      {{ prodNewArr.title | summary: 30 }}
    </h5>
    <p class="card__price mt-4">
      Price: ₹{{ getPrice(prodNewArr.variant_price) }}
    </p>
    <div class="card__action text-center">
      <button
        class="btn btn-success"
        (click)="onAddProduct(prodNewArr)"
        *ngIf="
          cartService.getItemQuantity(prodNewArr) === 0;
          else updateQuantity
        "
      >
        Add to cart <i class="fas fa-shopping-cart"></i>
      </button>

      <ng-template #updateQuantity>
        <div class="d-flex justify-content-between align-items-center">
          <button
            class="btn btn-danger"
            (click)="cartService.removeItem(prodNewArr)"
          >
            <i class="fas fa-minus"></i>
          </button>
          <span>{{ cartService.getItemQuantity(prodNewArr) }}</span>
          <button
            class="btn btn-primary"
            (click)="cartService.addItem(prodNewArr)"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
