<div class="about-brand py-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="image-container text-center">
        <img
          src="../../../../../assets/images/product-detail/about-brand/brand_minimog.png"
          alt=""
        />
      </div>
      <p class="text-center">
        <a routerLink="/shop" class="text-dark">More Products</a>
      </p>
    </div>
    <div class="col-lg-8">
      <h5>Minimog</h5>
      <p class="text-justify">
        S celerisque justo condimentum est venenatis morbi mi senectus a enim
        vestibulum sodales placerat parturient penatibus lacus vestibulum
        suspendisse cras parturient magnis a vestibulum. Augue ante platea
        consectetur velit taciti quis pulvinar egestas aliquam pharetra
        iaculis a dui eu euismod justo convallis. Natoque a dignissim
        tristique a non purus a dui euismod neque mus non a adipiscing
        vestibulum.
      </p>
    </div>
  </div>
</div>