<ngb-carousel *ngIf="images" class="position-relative">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" />
    </div>
    <div class="slider_content">
      <h5 class="text-danger">SUMMER COLLECTION</h5>
      <h1 class="mt-3 mb-5">Fall- Winter Collections 2030</h1>
      <p class="slider_paragraph">
        A specialist label creating luxury essentials. Ethically crafted with an
        unwavering commitment to exceptional quality.
      </p>
      <button class="btn btn-dark slider_btn">SHOP NOW</button>
    </div>
  </ng-template>

  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" />
    </div>
    <div class="slider_content">
      <h5 class="text-danger">SUMMER COLLECTION</h5>
      <h1 class="mt-3 mb-5">Fall- Winter Collections 2030</h1>
      <p class="slider_paragraph">
        A specialist label creating luxury essentials. Ethically crafted with an
        unwavering commitment to exceptional quality.
      </p>
      <button class="btn btn-dark slider_btn">SHOP NOW</button>
    </div>
  </ng-template>
</ngb-carousel>
