<div class="categories spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="categories__text">
          <h2>
            Clothings Hot <br />
            <span>Shoe Collection</span> <br />
            Accessories
          </h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories__hot__deal">
          <img src="../../../../../assets/images/bag.jpg" alt="" />
          <div class="hot__deal__sticker">
            <span>Sale Of</span>
            <h5>$29.99</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="categories__deal__countdown">
          <span>Deal Of The Week</span>
          <h2>Multi-pocket Chest Bag Black</h2>
          <button class="btn btn-dark">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
