<div class="categories spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="categories__text">
          <h2>
            Clothings Hot <br />
            <span>Shoe Collection</span> <br />
            Accessories
          </h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories__hot__deal">
          <img src="../../../../../assets/images/home/bag.jpg" alt="" />
          <div class="hot__deal__sticker">
            <span>Sale Of</span>
            <h5>$29.99</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories__deal__countdown">
          <span>Deal Of The Week</span>
          <h2>Multi-pocket Chest Bag Black</h2>
          <div class="categories__deal__countdown__timer" id="countdown">
            <div class="cd-item">
              <span>30</span>
              <p>Days</p>
            </div>
            <div class="cd-item w-75 m-0">
              <span>
                <countdown class="test" [config]="config"></countdown>
              </span>
            </div>
            <div class="cd-item pr-4">
              <p>Hours</p>
            </div>
            <div class="cd-item pr-5">
              <p>Minutes</p>
            </div>
            <div class="cd-item pr-5">
              <p>Seconds</p>
            </div>
          </div>
          <button class="btn btn-dark" routerLink="/shop">Shop Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
