$white-color: #ffffff;
$heading-color: #111111;
$primary-color: #e53637;
.categories {
  background: #f3f2ee;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 125px;
}

.categories__text {
  padding-top: 40px;
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    left: -485px;
    top: 0;
    height: 300px;
    width: 600px;
    background: $white-color;
    z-index: -1;
    content: "";
  }
  h2 {
    color: #b7b7b7;
    line-height: 72px;
    font-size: 34px;
    span {
      font-weight: 700;
      color: $heading-color;
    }
  }
}

.categories__hot__deal {
  position: relative;
  z-index: 5;
  img {
    min-width: 100%;
  }
}

.hot__deal__sticker {
  height: 100px;
  width: 100px;
  background: $heading-color;
  border-radius: 50%;
  padding-top: 22px;
  text-align: center;
  position: absolute;
  right: 0;
  top: -36px;
  span {
    display: block;
    font-size: 15px;
    color: $white-color;
    margin-bottom: 4px;
  }
  h5 {
    color: $white-color;
    font-size: 20px;
    font-weight: 700;
  }
}

.categories__deal__countdown {
  span {
    color: $primary-color;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
    display: block;
  }
  h2 {
    color: $heading-color;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 25px;
  }
  .categories__deal__countdown__timer {
    margin-bottom: 20px;
    overflow: hidden;
    margin-left: -30px;
    .cd-item {
      width: 25%;
      float: left;
      margin-bottom: 25px;
      text-align: center;
      position: relative;
      &:after {
        position: absolute;
        right: 0;
        top: 7px;
        font-size: 24px;
        font-weight: 700;
        color: #3d3d3d;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      span {
        color: $heading-color;
        font-weight: 700;
        display: block;
        font-size: 36px;
      }
      .test {
        color: $heading-color;
        font-weight: 700;
        display: block;
        font-size: 36px;
        margin-left: -70px;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .categories__deal__countdown {
    margin-top: 20px;
    text-align: center;
  }
  .categories__deal__countdown__timer {
    display: none;
  }
}

@media (max-width: 576px) {
  .categories__deal__countdown__timer {
    display: none;
  }
}
