<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-spin-clockwise-fade"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option bg-light py-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <span routerLink="/home" class="home_link">Home > </span>
            <span class="text-muted">Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">
            <input
              class="w-100 px-2 form-control"
              type="text"
              placeholder="Search..."
              #search
              (keyup)="searchProducts(search.value)"
            />
          </div>

          <div class="shop__sidebar__accordion">
            <div class="accordion">
              <div class="card">
                <div class="card-heading dropdown show">
                  <a class="dropdown-toggle" (click)="showGender = !showGender"
                    >Genders</a
                  >
                </div>
                <div *ngIf="showGender">
                  <div class="card-body">
                    <div class="shop__sidebar__genders">
                      <ul>
                        <li
                          class="dropdown-item"
                          *ngFor="let gender of allGenders"
                          (click)="getProductByCategory('ideal_for', gender)"
                          (click)="changeViewMode(gender)"
                          [class.active]="viewMode == gender"
                        >
                          {{ gender }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading dropdown show">
                  <a
                    class="dropdown-toggle"
                    (click)="showProductType = !showProductType"
                    >Product Types</a
                  >
                </div>
                <div *ngIf="showProductType">
                  <div class="card-body brand-list">
                    <div class="shop__sidebar__products">
                      <ul>
                        <li
                          class="dropdown-item"
                          *ngFor="let product of allProductTypes"
                          (click)="
                            getProductByCategory('product_type', product)
                          "
                          (click)="changeViewMode(product)"
                          [class.active]="viewMode == product"
                        >
                          {{ product }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading dropdown show">
                  <a class="dropdown-toggle" (click)="showPrice = !showPrice"
                    >Prices</a
                  >
                </div>
                <div *ngIf="showPrice">
                  <div class="card-body">
                    <div class="shop__sidebar__price">
                      <ul
                        (click)="getProductByCategory('variant_price', $event)"
                      >
                        <li
                          (click)="changeViewMode('300')"
                          [class.active]="viewMode == '300'"
                          class="dropdown-item active"
                          id="1"
                        >
                          ₹300 - ₹500
                        </li>
                        <li
                          (click)="changeViewMode('500')"
                          [class.active]="viewMode == '500'"
                          class="dropdown-item active"
                          id="2"
                        >
                          ₹500 - ₹1000
                        </li>
                        <li
                          (click)="changeViewMode('1000')"
                          [class.active]="viewMode == '1000'"
                          class="dropdown-item active"
                          id="3"
                        >
                          ₹1000 - ₹5000
                        </li>
                        <li
                          (click)="changeViewMode('5000')"
                          [class.active]="viewMode == '5000'"
                          class="dropdown-item active"
                          id="4"
                        >
                          5000+
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-heading">
                  <a>Colors</a>
                </div>
                <div>
                  <div class="card-body">
                    <div class="shop__sidebar__color">
                      <ul>
                        <li
                          class="color-option"
                          *ngFor="let color of allColors"
                          [style.backgroundColor]="color"
                          (click)="
                            getProductByCategory('dominant_color', color)
                          "
                          data-toggle="tooltip"
                          [title]="color"
                          style="color: black"
                        ></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Product List -->
      <div class="col-lg-9">
        <div class="shop__product__option mb-4">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__left">
                <p>
                  Showing {{ currentPage }} - {{ total_pages }} of
                  {{ filteredProducts.length }} results
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-right dropdown">
              <div class="shop__product__option__right">
                <p class="mb-0 mr-2">Sort by Price:</p>
                <select
                  (change)="sortProducts($event)"
                  class="font-weight-bold border-0"
                >
                  <option value="" selected disabled hidden>
                    Choose an option
                  </option>
                  <option value="low-to-high">Low To High</option>
                  <option value="high-to-low">High to Low</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="product-list">
          <div
            class="col-lg-4 col-md-6 col-sm-6 mb-5 product-col"
            *ngFor="
              let product of filteredProducts
                | paginate
                  : {
                      itemsPerPage: limit,
                      currentPage: currentPage,
                      totalItems: paginationLength
                    };
              index as i
            "
          >
            <div class="product__item position-relative">
              <div
                class="product__item__pic"
                [routerLink]="['/shop', product.product_id]"
              >
                <img
                  [src]="product.images.split('|')[0]"
                  class="w-100"
                  alt=""
                />
              </div>
              <div class="icon_list">
                <i
                  class="fas fa-heart text-danger icon__heart"
                  (click)="onAddWishList(product)"
                ></i>
              </div>
              <div
                class="product__item__text d-flex flex-column justify-content-between"
              >
                <h6 [routerLink]="['/shop', product.product_id]">
                  {{ product.title }}
                </h6>
                <div>
                  <div class="d-flex justify-content-between">
                    <h5 class="m-0">₹{{ product.variant_price }}</h5>
                    <ul class="mb-0">
                      <li
                        class="product__item__color"
                        *ngFor="let color of product.actual_color.split('|')"
                        [style.backgroundColor]="color"
                      ></li>
                    </ul>
                  </div>

                  <!-- Add button -->
                  <button
                    class="add-btn w-100 text-center text-white rounded py-2"
                    (click)="onAddProduct(product)"
                    *ngIf="
                      cartService.getItemQuantity(product) === 0;
                      else updateQuantity
                    "
                  >
                    Add To Cart <i class="fas fa-cart-plus"></i>
                  </button>
                  <ng-template #updateQuantity>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <button
                        class="btn btn-danger"
                        (click)="cartService.removeItem(product)"
                      >
                        <i class="fas fa-minus"></i>
                      </button>
                      <span>{{ cartService.getItemQuantity(product) }}</span>
                      <button
                        class="btn btn-primary"
                        (click)="cartService.addItem(product)"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination -->
        <pagination-controls
          class="text-center my-pagination"
          (pageChange)="currentPage = $event"
          (click)="backToTop()"
        ></pagination-controls>
      </div>
    </div>
  </div>
</section>
<!-- Shop Section End -->
