<!-- Breadcrumb Section Begin -->
<!-- <section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="./index.html">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search">
            <input
              class="w-100"
              type="text"
              placeholder="Search..."
              #search
              (keyup)="searchProducts(search.value)"
            />
            <!-- <button>
                <i class="fas fa-search"></i>
              </button> -->
          </div>

          <!-- <h4>Categories</h4> -->

          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseOne"
                    >Genders</a
                  >
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__genders">
                      <ul class="nice-scroll">
                        <li *ngFor="let gender of allGenders">
                          <a href="#">{{ gender }}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseTwo"
                    >Brands</a
                  >
                </div>
                <div
                  id="collapseTwo"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body brand-list">
                    <div class="shop__sidebar__brand">
                      <ul>
                        <!-- <li *ngFor="let brand of allBrands">
                          <a href="#">{{ brand }}</a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseThree"
                    >Prices</a
                  >
                </div>
                <div
                  id="collapseThree"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__price">
                      <ul>
                        <li><a href="#">$0.00 - $50.00</a></li>
                        <li><a href="#">$50.00 - $100.00</a></li>
                        <li><a href="#">$100.00 - $150.00</a></li>
                        <li><a href="#">$150.00 - $200.00</a></li>
                        <li><a href="#">$200.00 - $250.00</a></li>
                        <li><a href="#">250.00+</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseFive"
                    >Colors</a
                  >
                </div>
                <div
                  id="collapseFive"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__color">
                      <p
                        class="color-demo"
                        *ngFor="let color of allColors"
                        [style.backgroundColor]="color"
                      ></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Product List -->
      <div class="col-lg-9">
        <!-- <div class="shop__product__option">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__left">
                <p>Showing 1–12 of 126 results</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__right">
                <p>Sort by Price:</p>
                <select>
                  <option value="">Low To High</option>
                  <option value="">$0 - $55</option>
                  <option value="">$55 - $100</option>
                </select>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row" id="product-list">
          <div
            class="col-lg-4 col-md-6 col-sm-6"
            *ngFor="let product of filteredProducts; index as i"
          >
            <div class="product__item">
              <div class="product__item__pic">
                <img
                  [src]="product.images.split('|')[0]"
                  class="w-100"
                  alt=""
                />
              </div>
              <div class="product__item__text">
                <h6>{{ product.title }}</h6>
                <a href="#" class="add-cart">+ Add To Cart</a>
                <h5>₹{{ product.variant_price }}</h5>
                <ul>
                  <li
                    class="product__item__color"
                    *ngFor="let color of product.actual_color.split('|')"
                    [style.backgroundColor]="color"
                  ></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Pagination -->
        <nav>
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage == 1">
              <span class="page-link" (click)="goToPage(currentPage - 1)"
                >Previous</span
              >
            </li>
            <li
              class="page-item"
              *ngFor="let page of total_pages"
              [class.active]="currentPage === page"
            >
              <span class="page-link" href="#" (click)="goToPage(page)">
                {{ page }}
              </span>
            </li>
            <li
              class="page-item"
              [class.disabled]="currentPage == total_pages.length"
            >
              <span class="page-link" (click)="goToPage(currentPage + 1)"
                >Next</span
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Shop Section End -->
