@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.dropdown-item {
  padding-left: 5px;
}
.breadcrumb__links {
  span {
    text-decoration: none;
  }
}

span {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

html {
  font-family: "Nunito Sans", sans-serif;
}

h6 {
  margin-top: 10px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}

h5 {
  font-size: 18px;
}

select,
li {
  cursor: pointer;
}

.product__item {
  .icon__heart {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    padding: 8px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.product__item:hover .icon__heart {
  transition-delay: 0.2s;
  opacity: 1;
  visibility: visible;
}

.product__item__pic {
  cursor: pointer;
}

.product__item__pic {
  transition: 0.5s;
  &:hover {
    margin-top: -10px;
    transition-delay: 0.1s;
  }
}

.shop__product__option__right {
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  border: none;
  background-color: #ffa500;
  color: white;
}

.color-option,
.product__item__color {
  list-style-type: none;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.color-option {
  height: 30px;
  width: 30px;
}

.product {
  &__item {
    height: 100%;
    &__color {
      height: 20px;
      width: 20px;
    }
    &__text {
      height: 144px;
    }
  }
}

.shop__sidebar {
  // padding-right: 20px;
  ul {
    padding-left: 0;
    overflow: auto;
  }
}

.dropdown-toggle::after {
  display: inline-block;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  font-family: "FontAwesome";
  font-size: 24px;
  color: #111111;
  position: absolute;
  right: 0;
  top: 7px;
  line-height: 20px;
}

.dropdown-item {
  padding-left: 0;
  padding-right: 0;
}
.shop__sidebar__search {
  margin-bottom: 40px;
}

.shop__sidebar__accordion {
  .card {
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
      .card-body {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
  .card-body {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  .card-heading {
    cursor: pointer;
    a {
      color: var(--heading-color);
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      text-decoration: none;
    }
  }
}

.shop__sidebar__genders {
  ul {
    height: 160px;
    margin-bottom: 0;
    li {
      list-style: none;
      color: #b7b7b7;
      font-size: 15px;
      line-height: 32px;
      &:hover {
        color: var(--heading-color);
      }
      &.active {
        text-decoration: none;
        background-color: lightgray;
        color: #000;
        font-weight: bold;
      }
    }
  }
}

.shop__sidebar__products {
  @extend .shop__sidebar__genders;
  ul {
    height: 400px;
  }
}

.shop__sidebar__price {
  @extend .shop__sidebar__genders;
  ul {
    height: auto;
  }
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background-color: #343a40;
}

@media (max-width: 576px) {
  .ngx-pagination {
    padding-left: 0;
  }
  .shop__product__option__left {
    margin-top: 20px;
  }
  .shop__product__option__right {
    justify-content: flex-start;
  }
  .ngx-pagination {
    padding-left: 0;
  }
}
