<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="header__logo">
          <img
            src="../../../assets/images/male header logo.jpg"
            alt=""
            routerLink="/home"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <nav class="header__menu mobile-menu">
          <ul>
            <li class="active"><a routerLink="/home">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li>
              <a routerLink="/about">Pages</a>
              <ul class="dropdown">
                <li><a routerLink="/about">About Us</a></li>
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Check Out</a></li>
              </ul>
            </li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/contact">Contacts</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="header__nav__option">
          <a class="search-switch"><i class="fas fa-search"></i></a>
          <a><i class="fas fa-heart"></i></a>
          <a href="#"><i class="fas fa-shopping-bag"></i></a>
          <span class="font-weight-bold">$0.00</span>
        </div>
      </div>
    </div>
    <div class="canvas__open"><i class="fa fa-bars"></i></div>
  </div>
</header>
