$primary-color: #e53637;
$secondary-color: #0c2b4b;
$white-color: #ffffff;
$heading-color: #111111;
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.menu {
  height: 50px;
  line-height: 50px;
}

.menu__list {
  list-style-type: none;
  li {
    cursor: pointer;
    a {
      color: white;
      text-decoration: none;
    }
    .menu__sign-in {
      position: relative;
    }
    .menu__sign-in::after {
      content: "|";
      position: absolute;
      left: 110%;
    }
  }
}

.header {
  background: $white-color;

  &__logo {
    a {
      display: inline-block;
    }
    img {
      cursor: pointer;
    }
  }

  &__menu {
    text-align: center;
    height: 100%;

    ul {
      height: 100%;
      li {
        list-style: none;
        display: inline-block;
        margin-right: 45px;
        position: relative;
        a {
          line-height: inherit;
        }
        &.active {
          a {
            &:after {
              transform: scale(1);
            }
          }
        }
        &:hover {
          a {
            text-decoration: none;
            &:after {
              transform: scale(1);
            }
          }
          .dropdown {
            top: 32px;
            opacity: 1;
            visibility: visible;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        .dropdown {
          position: absolute;
          left: 0;
          top: 56px;
          width: 150px;
          background: $heading-color;
          text-align: left;
          padding: 5px 0;
          z-index: 9;
          opacity: 0;
          visibility: hidden;
          @include transition(all, 0.3s);

          li {
            display: block;
            margin-right: 0;

            a {
              font-size: 14px;
              color: $white-color;
              font-weight: 400;
              padding: 5px 20px;
              text-transform: capitalize;

              &:after {
                display: none;
              }
            }
          }
        }

        a {
          font-size: 18px;
          color: $heading-color;
          display: block;
          font-weight: 600;
          position: relative;
          padding: 3px 0;

          &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $primary-color;
            content: "";
            @include transition(all, 0.5s);
            transform: scale(0);
          }
        }
      }
    }
  }
}

.header__nav__option {
  text-align: right;
  height: 100%;
  i {
    color: black;
  }
  a {
    display: inline-block;
    margin-right: 26px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
    text-decoration: none;
  }

  .price {
    font-size: 15px;
    color: $heading-color;
    font-weight: 700;
    display: inline-block;
    margin-left: -20px;
    position: relative;
    top: 3px;
  }

  .cart-quantity {
    position: relative;
    top: -8px;
    margin-left: 3px;
  }
}

.user-avatar {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
}

.user-dropdown {
  .dropdown-toggle::after {
    color: #fff;
  }
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}

@media (max-width: 576px) {
  .header__nav,
  .header__cart {
    display: none;
  }
  img {
    width: 100px;
  }
  .header__menu-list {
    display: flex;
    justify-content: space-between;
  }
  .header__bar {
    display: block;
  }
}
