<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-spin-clockwise-fade"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<div class="form__sign-in p-5 shadow-lg">
  <h3 class="text-center">Sign In</h3>
  <form [formGroup]="signInForm">
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter email"
        [(ngModel)]="user.email"
        formControlName="email"
      />
      <div
        class="alert alert-danger mt-3"
        role="alert"
        *ngIf="email.touched && email.errors"
      >
        <ng-container *ngIf="email.errors.required"
          >Email is required.</ng-container
        >
        <ng-container *ngIf="email.errors.pattern">
          Email is not correct
        </ng-container>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="user.password"
        placeholder="Enter password"
        formControlName="password"
      />
      <div
        class="alert alert-danger mt-3"
        role="alert"
        *ngIf="password.touched && password.errors"
      >
        <ng-container *ngIf="password.errors.required"
          >Password is required.</ng-container
        >
      </div>
    </div>
    <a routerLink="/sign-up" class="d-block mb-3"
      >Don't have account? Sign up now!</a
    >
    <button
      type="submit"
      class="btn btn-primary"
      (click)="onLogin()"
      [disabled]="signInForm.invalid"
    >
      Submit
    </button>
    <button class="ml-3 btn btn-success" (click)="onDemo()">Demo</button>
  </form>
</div>
