<section class="banner spad">
  <div class="container">
    <div class="row banner__item align-items-center">
      <div class="col-lg-6 col-sm-12">
        <div class="banner__item__pic d-flex justify-content-center">
          <img
            src="https://cdn-images.farfetch-contents.com/14/64/54/73/14645473_22740446_480.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="banner__item__text">
          <h2>Clothing Collections 2022</h2>
          <a routerLink="/shop">Shop now</a>
        </div>
      </div>
    </div>

    <div class="row banner__item align-items-center">
      <div class="col-lg-6 col-sm-12">
        <div class="banner__item__text">
          <h2>Shoes Spring 2022</h2>
          <a routerLink="/shop">Shop now</a>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="banner__item__pic d-flex justify-content-center">
          <img
            src="https://media.gucci.com/style/DarkGray_Center_0_0_490x490/1582298106/550051_9N050_8465_001_098_0000_Light.jpg"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="row banner__item align-items-center">
      <div class="col-lg-6 col-sm-12">
        <div class="banner__item__pic d-flex justify-content-center">
          <img
            src="https://cdn-images.farfetch-contents.com/13/32/17/88/13321788_14976203_600.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="banner__item__text">
          <h2>Accessories</h2>
          <a routerLink="/shop">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</section>
