<div class="reviews py-4">
  <div class="row border-bottom">
    <div class="col-lg-1">
      <div class="image-container first-container"></div>
    </div>
    <div class="col-lg-11">
        <h6 class="mr-2 mb-0">Phuong Ly</h6> 
        <span class="time-review">( 16/12/2022 )</span>
        <div class="product_ratting">
          <ul class="m-0 p-0">
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
          </ul>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet iusto expedita, fugiat est alias reiciendis ex quisquam blanditiis suscipit dolore officiis quibusdam fuga possimus do</p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-1">
      <div class="image-container second-container"></div>
    </div>
    <div class="col-lg-11">
        <h6 class="mr-2 mb-0">Cao Huy Thong</h6> 
        <span class="time-review">( 16/12/2022 )</span>
        <div class="product_ratting">
          <ul class="m-0 p-0">
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star"></i></a>
            </li>
          </ul>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet iusto expedita, fugiat est alias reiciendis ex quisquam blanditiis suscipit dolore officiis quibusdam fuga possimus do</p>
    </div>
  </div>
</div>
