<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-spin-clockwise-fade"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<!-- <div class="d-flex align-items-center justify-content-center py-5">
  <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <img [src]="user.avatar" alt="" />
      </div>
    </div>
    <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
    <div class="about">{{ user.email }}</div>
    <div class="social-icons">
      <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
      <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="buttons">
      <button>Message</button>
      <button>Subscribe</button>
    </div>
    <div class="social-share">
      <div class="row align-items-center">
        <i class="far fa-heart"></i>
        <span>20.4k</span>
      </div>
      <div class="row align-items-center">
        <i class="far fa-comment"></i>
        <span>14.3k</span>
      </div>
      <div class="row align-items-center">
        <i class="fas fa-share"></i>
        <span>12.8k</span>
      </div>
    </div>
  </div>
</div> -->

<div class="d-flex justify-content-center align-items-center py-5">
  <div class="card">
    <div class="text">
      <img [src]="user.avatar" alt="" />
      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
      <p class="text-muted">{{ user.email }}</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut.
      </p>
    </div>
    <div class="links">
      <a target="_blank" href="#"><i class="fab fa-codepen"></i></a>
      <a target="_blank" href="#"><i class="fab fa-github"></i></a>
      <a target="_blank" href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
