<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-spin-clockwise-fade"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>

<div class="container">
  <div class="d-flex justify-content-center align-items-center py-5">
    <div class="card">
      <div class="text">
        <img [src]="user.avatar" alt="" />
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <p class="text-muted">{{ user.email }}</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
        </p>
      </div>
      <div class="links">
        <a target="_blank" href="#"><i class="fab fa-codepen"></i></a>
        <a target="_blank" href="#"><i class="fab fa-github"></i></a>
        <a target="_blank" href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>
