.my-pagination ::ng-deep .ngx-pagination .current {
  background: lighblue;
}
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}
i {
  cursor: pointer;
}
.admin__mobile {
  display: none;
}

@media (max-width: 576px) {
  table {
    display: none;
  }
  input {
    display: none;
  }
  h3 {
    display: none;
  }
  .my-pagination {
    display: none;
  }
  .admin__mobile {
    display: block;
    text-align: center;
  }
}
