<div class="container p-5">
  <div class="row justify-content-center mb-4">
    <div class="d-flex text-center">
      <h5 (click)="changeViewMode('bestSeller')">Best Sellers</h5>
      <h5 (click)="changeViewMode('newArrival')" class="mx-5">New Arrivals</h5>
      <h5 (click)="changeViewMode('topSeller')">Hot Sales</h5>
    </div>
  </div>
  <app-product-best-sell
    *ngIf="viewMode === 'bestSeller'"
    [productsBestSeller]="productsBestSeller"
  ></app-product-best-sell>
  <app-productnew-arrival
    *ngIf="viewMode === 'newArrival'"
    [productsNewArrival]="productsNewArrival"
  ></app-productnew-arrival>
  <app-product-top-sale
    *ngIf="viewMode === 'topSeller'"
    [productsTopSale]="productsTopSale"
  ></app-product-top-sale>
</div>
