.shopping__header {
  background-color: #f3f2ee;
  padding: 40px 0;
  a {
    text-decoration: none;
    color: black;
  }
}

.item-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.item-body {
  height: 130px;
  .item-price {
    font-weight: 600;
  }
  .item-title {
    color: #7367f0;
  }
}
.card_item {
  background-color: #fff;
  border: 1px solid rgba(34, 41, 47, 0.125);
  transition: 0.5s;
  &:hover {
    margin-top: -10px;
    transition-delay: 0.1s;
  }
}

.item-options {
  .btn-wishlist {
    flex-grow: 1;
    border-radius: 0;
  }
  .btn-light {
    color: black;
    background-color: #f6f6f6;
    border-color: #f6f6f6;
  }
  .btn-primary {
    color: #fff;
    background-color: #7367f0;
  }
  .btn-cart {
    flex-grow: 1;
    border-radius: 0;
  }
}

.cart__empty {
  width: 600px;
  margin: 0 auto;
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  &paragraph {
    font-size: 12px;
  }
}

.btn__move {
  background-color: #ffa500;
  color: white;
}
.no-access-icon {
  font-size: 52px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .cart__empty {
    width: 300px;
  }
}
