span {
  font-weight: bold;
}

.product-information {
  img {
    width: 100%;
  }
  h2 {
    font-weight: 480;
  }
  .color-container {
    span {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-right: 10px;
      opacity: 0.6;
      padding: 1px;
      background-clip: content-box;
    }
  }
  .product-actions {
    button,
    .update-quantity-btn {
      border: none;
    }
    .add-wish-btn {
      background-color: #ff66cc;
    }

    .add-cart-btn {
      background-color: #ffa500;
    }

    .update-quantity-btn {
      button {
        width: 36px;
      }
    }
  }
  .checkout {
    background-color: #f7f7f7;
  }
}

.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-details
  > .p-grid {
  border: 1px solid #b3c2ca;
  border-radius: 3px;
  margin: 0.3em;
  text-align: center;
  padding: 2em 0 2.25em 0;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  .car-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  .car-subtitle {
  margin: 0.25em 0 2em 0;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  button {
  margin-left: 0.5em;
}
.carousel-demo
  .ui-carousel
  .ui-carousel-content
  .ui-carousel-item
  .car-data
  button:first-child {
  margin-left: 0;
}
.carousel-demo .ui-carousel.custom-carousel .ui-carousel-dot-icon {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}
.carousel-demo
  .ui-carousel.ui-carousel-horizontal
  .ui-carousel-content
  .ui-carousel-item.ui-carousel-item-start
  .car-details
  > .p-grid {
  margin-left: 0.6em;
}
.carousel-demo
  .ui-carousel.ui-carousel-horizontal
  .ui-carousel-content
  .ui-carousel-item.ui-carousel-item-end
  .car-details
  > .p-grid {
  margin-right: 0.6em;
}
