<!-- Footer Section Begin -->
<footer class="footer container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12">
        <div class="footer__about">
          <div class="footer__logo m-0">
            <a href="#"
              ><img
              src="../../../assets/images/header/PicsArt_07-08-09.23.48.png"
                alt=""
            /></a>
          </div>
          <p>
            The customer is at the heart of our unique business model, which
            includes design.
          </p>
          <a href="#"
            ><img src="../../../assets/images/footer/payment.jpg" alt=""
          /></a>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12">
        <div class="footer__widget">
          <h6>Shopping</h6>
          <ul>
            <li *ngFor="let gender of allGenders">
              <a href="#">{{ gender }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12">
        <div class="footer__widget">
          <h6>Useful Links</h6>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">T&C</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Return & Exchanges</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12">
        <div class="footer__widget">
          <h6>NewLetter</h6>
          <div class="footer__newslatter">
            <p>
              Be the first to know about new arrivals, look books, sales &
              promos!
            </p>
            <form action="#">
              <input type="text" class="inputEmail px-2" />
              <button type="submit"><i class="far fa-envelope"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="footer__copyright__text">
          <p>
            Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            2022 All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
