$primary-color: #e53637;
$secondary-color: #0c2b4b;
$white-color: #ffffff;
$heading-color: #111111;
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.breadcrumb-blog {
  background-image: url("../../../assets/images/blog/blog_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 300px;
  width: 100%;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white-color;
  font-size: 56px;
  text-align: center;
}

.blog__item {
  cursor: pointer;
  &:hover {
    a {
      &::after {
        width: 40px;
        background: $primary-color;
      }
    }
    .blog__item__text {
      box-shadow: 0px 15px 60px rgba(67, 69, 70, 0.05);
    }
  }
}

.blog__item__text {
  padding: 30px 20px 25px;
  margin: 0 30px;
  background: $white-color;
  @include transition(all, 0.3s);

  h5 {
    color: #0d0d0d;
    font-weight: 700;
    line-height: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
    height: 100px;
  }

  a {
    display: inline-block;
    color: $heading-color;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 3px 0;
    position: relative;

    &:after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $heading-color;
      content: "";
      @include transition(all, 0.3s);
    }
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.blog__item__detail {
  height: 120px;
}
