<!-- Spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="line-spin-clockwise-fade"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<!-- End spinner -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog">
  <h1>Our Blog</h1>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog">
  <div class="container">
    <div class="row py-5">
      <div
        class="col-lg-4 col-md-6 col-sm-12"
        *ngFor="let blog of blogsArr; let i = index"
      >
        <div class="blog__item" [routerLink]="['/blog', blog._id]">
          <div class="blog__item__text">
            <img [src]="imageURL[i]" alt="" />
            <h5>{{ blog.headline.main }}</h5>
            <a>Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->
