<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-blog">
  <h1>Our Blog</h1>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog">
  <div class="container">
    <div class="row py-5">
      <div
        class="col-lg-4 col-md-6 col-sm-6"
        *ngFor="let blog of blogsArr; let i = index"
      >
        <div class="blog__item">
          <div class="blog__item__text">
            <img [src]="imageURL[i]" alt="" />
            <h5>{{ blog.headline.main }}</h5>
            <a [routerLink]="['/blog', blog._id]">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->
